.intro {
    position: absolute;
    top: 28%;
    padding-left: 10%;
    padding-right: 20%;
}

.inner {
    padding-left: 10%;
    padding-right: 10%;
}

.top {
    padding-top: 10%;
}

.spacing {
    padding-top: 5%;
}

.bottom {
    padding-bottom: 10%;
}

ion-icon {
  fill: white;
  display:inline-block;
  font-size: 32px;
}

.icon{
    padding-right: 20px;
}

.dark-link-element{
    color: #020031;
}

.dark-link-element:hover{
    color: #AC83FF;
}

.inline-element{
    display:inline-block;
}

.sidenav {
  width: 11%;
  position: fixed;
  top: 33%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 1%;
}

.sidenav a {
  padding: 1% 1% 10% 10%;
  text-decoration: none;
  font-size: 1.3vw;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-width: 450px) {
  .sidenav {padding-left: 15px;}
  .sidenav a {font-size: 18px;}
}
