.colorTheme{
    background: #020031;
    color: #D3D7FF;
}

.purpleBackground{
    background: #020031;
}

.pinkBackground{
  background: #ff99ff;
}

.blackText {
    color: 	#000000;
}

.purpleAccentColor{
    color: #AC83FF;
}

.blueAccentColor{
    color: #52F1FF;
}

.pinkAccentColor{
    color: #ff99ff;
}

.periwinkleAccentColor{
  color: #a6abf5;
}

.lightBlueAccentColor{
    color: #77D6FF;
}

.inner {
    padding-left: 5%;
    padding-right: 5%;
}

.top {
    padding-top: 5%;
}

.spacing {
    padding-top: 5%;
}

.bottom {
    padding-bottom: 5%;
}

.center {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 25%;
  padding-right: 25%;
}

ion-icon {
  fill: white;
  display:inline-block;
  font-size: 32px;
}

.icon{
    padding-right: 20px;
}

.link-element{
    color: #D3D7FF;
}

.link-element:hover{
  color: #F18CFF;
}

.dark-link-element{
    color: #020031;
}

.dark-link-element:hover{
    color: #AC83FF;
}

.inline-element{
    display:inline-block;
}
