.colorTheme{
    background: #020031;
    color: #D3D7FF;
}

.purpleBackground{
    background: #020031;
}

.blackText {
    color: 	#000000;
}

.purpleAccentColor{
    color: #AC83FF;
}

.blueAccentColor{
    color: #52F1FF;
}

.pinkAccentColor{
    color: #ff99ff;
}

.periwinkleAccentColor{
  color: #a6abf5;
}

.lightBlueAccentColor{
    color: #77D6FF;
}

.inner {
    padding-left: 10%;
    padding-right: 10%;
}

.top {
    padding-top: 8%;
}

.spacing {
    padding-top: 5%;
}

.bottom {
    padding-bottom: 10%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

ion-icon {
  fill: white;
  display:inline-block;
  font-size: 32px;
}

.icon{
    padding-right: 20px;
}

.link-element{
    color: #D3D7FF;
}

.link-element:hover{
  color: #F18CFF;
}

.dark-link-element{
    color: #020031;
}

.dark-link-element:hover{
    color: #AC83FF;
}

.inline-element{
    display:inline-block;
}

/*navigation sidebar*/
.sidenav {
  height: 100%;
  width: 11%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7B8BFF;
  overflow-x: hidden;
  padding-top: 1%;
}

.sidenav a {
  padding: 1% 1% 10% 10%;
  text-decoration: none;
  font-size: 1.3vw;
  color: #D3D7FF;
  display: block;
}

.sidenav a:hover {
  color: #FBB9FF;
}
